
.quantity-input-container {
  background: var(--baseButton);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 4px;
  border-radius: 8px;
  position: relative;
}
.quantity-input-container input {
  position: absolute;
  left: 40%;
  right: 45%;
  width: unset;
  background: none;
  font-size: 1rem;
  border: 0;
}
.quantity-input-container input:focus {
  outline: none;
}

.quantity-input-container button:disabled{
  opacity: .4;
}
.quantity-input-container button:not(:disabled):hover{
  color: var(--brandPurpleDark);
}
.quantity-input-container .quantity-button {
  background: none;
  border: none;
  font-size: 0.8rem;
}